<!DOCTYPE html>
<html>
    <head>
	    <meta charset = "utf_8"/>
		<!--Titre sur la fenêtre du navigateur-->
		<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}"/>
		<title>Resume Andriantiana RAKOTOSOA</title>
	</head>
	
	<body>
	    <h1>
		
		    Data scientist/Data analyst/Economist<br/>
		</h1>
		<p>
		    <a href = "{{url_for('static', filename = 'image/portrait.jpg')}}" ><img src = "{{url_for('static', filename = 'image/identity.jpg'}}" alt = "Photo d'identité" title = "Click to enlarge" class = "imageflottante"/></a>
			<!--Presentation-->
            Young gentleman looking for challenges, I like data science because it combines three of my passions: mathematics, statistics and computer programming. I'm interesting in Artificial Intelligence and its applications in marketing and more generaly in entreprise fields (CRM, innovation, ...)
		</p>
		
		<!--Contacts-->
		<p class = "contact">
		<span class = "entree">Contact</span><br/>
		Adress: Restricted <br/>
		Telephone: Restricted  <br/>
		Email: <a href = "mailto: rakotosoa.tiana@yahoo.fr">rakotosoa.tiana@yahoo.fr</a> <br/>
		Follow me on:<br/>
		<a href = "https://www.linkedin.com/in/andriantiana-rakotosoa-936738148/" ><img src = "{{url_for('static', filename = 'image/linkedin.jpg'}}" alt = "linkedin logo" title = "click to see my profile"/></a>
		<p>
		
		
		<!--Plan-->
		<ol>
		
		<li> <a href = "#Experiences">Experiences</a> </li>
		<li> <a href = "#Education">Education</a> </li>
		<li> <a href = "#Computer skills">Computer skills</a> </li>
		<li> <a href = "#Languages">Languages</a> </li>
		<li> <a href = "#Interests">Interests</a> </li>
		
		</ol>
		
<!--Experience+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
		
		
		<h2 id = "Experiences">Experiences</h2>
		<p>
		<ul>
		    <li><em>december 2018-:</em><a href = "https://www.aid.fr/"> AID Add Intelligence to Data</a> : Data scientist
			    <ul>
				<li>
				    Customer's statistical data analysis
				</li> 
				<li>
				    Research and implementation of algorithm and model
				</li>
				<li>
				    Machine learning, set up of automatic data processing and reporting
				</li>
				<li>
				    Communication of results, data visualisation, recommendations and advice
				</li>
		        </ul>
			</li>
			<li><em>may 2015-november 2018:</em><a href = "https://www.orange.mg/"> Orange Madagascar</a> :
			    <ul>
				    <li>
					    <em>october 2017-november 2018:</em> senior study manager
						<ul>
						    <li>
							    Definition of indicators of performance and analysis 
							</li>
							<li>
							    Data and customers behavior analysis
							</li>
							<li>
							    Data and customers behavior analysis
							</li>
							<li>
							    Reliability and monitoring of databases and computer tools
							</li>
						</ul>
					</li>
					<li>
					    <em>may 2015-octobre 2017:</em>study manager
						<ul>
						    <li>
							    Dasboard implementation for the director of sales 
							</li>
							<li>
							    Datamining and data analysis 
							</li>
							<li>
							    Monitoring KPI and reporting for directors, head of departments and sales managers
							</li>
							<li>
							    Monitoring management tools
							</li>
					</li>
				        </ul>
				</ul>
			<li><em>novembre 2014-february 2015</em>:<a href = "http://www.sahamassurance.tg/"> Saham assurance</a>	Madagascar: Intern Actuarial study manager <br/>
			        Reserve for claims payable for non injury accidents  
			</li>
			<li><em>march - april 2014</em>: <a href = "https://ingedata.net/"> Ingedata</a>: Web contents integrator <br/>
			        Customer's database enrichment
		</ul>		
					
		</p>
		
		
<!--Education+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->		
		
		
		
		<h2 id = "Education">Education</h2>
		<p>
		<ul>
		    <li><em>2010-2014:</em><a href = "http://www.univ-antananarivo.mg/"> University of Antananarivo</a>:</li>
			    <ul>
				    <li><em>2013-2014</em>:Master I Macroeconomics and modeling</li>
				    <li><em>2010-2013</em>:Licence(Bachelor)Statistical modeling and econometrics</li>
				</ul>
			<li><em>2006-2009:</em>Lycée Jean Joseph RABEARIVELO Antananarivo:Baccalauréat série C(High school degree with speciality in mathematics and physics-chemistry) 
        </ul>
		</p>
		
		
		
<!--Computer skills+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->		

        <h2 id = "Computer skills">Computer skills</h2>
		<p>
		<ul>
		    <li>Computer Programming: Python, C </li>
			<li>Data science and statistics: R, RStudio, Python for data science</li>
			<li>Database: SQL, mongoDb</li>
			<li>Web programming: HTML5, CSS3 </li>
			<li>Internet</li>
			<li> Pack office: Word, Excel, Powerpoint </li>
		</ul>
		</p>
		
<!--Languages+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
        <h2 id = "Languages">Languages</h2>
		<p>
		<ul>
		    <li>Malagasy: native language </li>
			<li>French: fluent </li>
			<li>English: fluent </li>
		</ul>
		</p>
		
		

<!--Intersts+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <h2 id = "Interests">Interests</h2>
		<p>
		<ul>
		<li> MOOC:
		    <ul>
			<li><a href = "https://www.fun-mooc.fr/attestations/attestation_suivi_course-v1:CNAM+01031+session01_e3c628d3847c1d872fb16a5c62334618.pdf" title = "certification only available in french">Deep learning</a></li>
		    <li><a href = "https://www.fun-mooc.fr/attestations/attestation_suivi_course-v1:UCA+107001+session02_ba3ca632757e733ac6b6d8a9fde56ee5.pdf" title = "certification only available in french">Python</a></li>
			<li><a href = "https://www.fun-mooc.fr/attestations/attestation_suivi_course-v1:itii+119003+session03_1a63a1a0378b175dc687e97a7d0e88c6.pdf" title = "certification only available in french">Computer base</a></li>
			<li><a href = "https://www.fun-mooc.fr/attestations/attestation_suivi_course-v1:Polytechnique+03010+session01_54391e4358757d25f2856c6e2069033a.pdf" title = "certification only available in french">Mathematics</a></li>
			<li><a href = "https://www.fun-mooc.fr/attestations/attestation_suivi_course-v1:EPHE+126003+session01_7b0448797849523d2a1a12bb148b5b55.pdf" title = "certification only available in french">Strategy</a></li>
			</ul>
		<li>Mathematics, statistics and sciences</li>
		<li>Computer programming</li>
		<li>Video games: RTS, FPS</li>
		<li>Sports: swimming, football, basketball, jogging</li>
		</ul>
		
		
		
	</body>
</html>
			
			
		